/* Icon */
.material-symbols-sharp {
	font-variation-settings:
		'FILL' 0,
		'wght' 700,
		'GRAD' 0,
		'opsz' 20;
}

/* Typography */
h1,
h2,
h3 {
	font-weight: 600;
	line-height: 1.5em;

	a {
		&:hover {
			left: -0.25rem;
			padding: 0 0.25rem;
			color: var(--color-background);
			background: var(--color-foreground);
		}

		&:has(.material-symbols-sharp) {
			display: inline-flex;
			align-items: center;
			gap: 0.25rem;
		}
	}
}

h1 {
	font-size: 2rem;
	letter-spacing: -0.05rem;
}

h2 {
	font-size: 1.375rem;
	letter-spacing: -0.025rem;

	a {
		text-decoration: none;
	}
}

h3 {
	font-size: 1rem;
	line-height: 1.625em;
	letter-spacing: -0.0125rem;

	a {
		text-decoration: none;
	}

	.material-symbols-sharp {
		font-size: 16px;
	}
}

p {
	line-height: 1.625em;
	opacity: 0.8;

	&.caption {
		font-size: 0.75rem;
		font-weight: 500;
		opacity: 0.48;
	}

	strong {
		font-weight: 600;
	}

	date {
		opacity: 0.64;
	}
}

/* Divider */
hr {
	width: 100%;
	height: 2px;
	margin-top: calc(var(--unit) * 2);
	background: currentColor;
}

/* Status */
#status,
#update {
	font-weight: 500;
	line-height: 1.5em;
	position: absolute;
	display: inline-flex;
	color: var(--color-white);

	@media screen and (min-width: 1440px) and (prefers-color-scheme: light) {
		/* Font Smoothing */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	@media screen and (max-width: 1439px) {
		z-index: -1;
		width: 100%;
		color: currentColor;
	}
}

#status {
	flex-direction: column;
	align-items: flex-end;
	right: calc(var(--unit) * 2);
	bottom: calc(var(--unit) * 2);

	@media screen and (max-width: 1439px) {
		align-items: center;
		top: calc(var(--unit) * 2);
		right: 0;
		bottom: auto;

		#time {
			display: none;
		}
	}

	#time,
	#activity {
		text-align: center;
		white-space: pre-wrap;
	}

	#time {
		font-size: 0.875rem;
		margin-bottom: 0.25rem;
	}
}

/* Update */
#update {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	bottom: calc(var(--unit) * 2);
	left: calc(var(--unit) * 2);

	@media screen and (max-width: 1439px) {
		align-items: center;
		top: auto;
		left: 0;
		bottom: calc(var(--unit) * 2);
	}

	span {
		text-align: center;
		white-space: pre-wrap;
		opacity: 0.32;

		@media screen and (max-width: 1439px) {
			opacity: 0.64;
		}

		&.spinner {
			width: 14px;
			height: 14px;
			border: 2px solid var(--color-white);
			border-bottom-color: transparent;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			-webkit-animation: rotation 1s linear infinite;
			animation: rotation 1s linear infinite;
		}
	}
}

/* Loader */
.loader {
	position: absolute;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;

	span {
		width: 48px;
		height: 48px;
		border: 5px solid var(--color-white);
		border-bottom-color: transparent;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		-webkit-animation: rotation 1s linear infinite;
		animation: rotation 1s linear infinite;

		@media screen and (max-width: 1439px) {
			border-color: currentColor;
			border-bottom-color: transparent;
		}
	}
}

/* Keyframe Animations */
@-webkit-keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}