/* Typography */
h1,
h2,
h3,
li,
p {
	&:lang(ko) {
		display: none;
	}
}

h1,
h2,
h3,
li {
	font-weight: 600;

	&:has(svg) {
		display: inline-flex;
		align-items: center;
		gap: .25rem;

		svg {
			width: 1rem;
			height: 1rem;
			fill: currentColor;
		}
	}
}

h3,
li,
p {
	font-size: 1rem;
	letter-spacing: -.0125rem;
	line-height: 1.625em;

	a {
		&:hover {
			color: var(--color-select-foreground);
			background: var(--color-select-background);
			border-radius: .25rem;
			box-shadow:
				-.25rem 0 0 0 var(--color-select-background),
				.25rem 0 0 0 var(--color-select-background);
		}

		&:has(svg) {
			display: inline-flex;
			align-items: center;
			gap: .25rem;

			svg {
				width: 1rem;
				height: 1rem;
				fill: currentColor;
			}
		}
	}
}

h1 {
	font-size: 2rem;
	letter-spacing: -.05rem;
	line-height: 1.25em;
}

h2 {
	font-size: 1.375rem;
	letter-spacing: -.0375rem;
	line-height: 1.5em;
}

h3 {
	margin-bottom: calc(var(--unit) * .375);
}

li {
	margin-bottom: calc(var(--unit) * .25);

	&:last-child {
		margin: 0;
	}

	a {
		color: var(--color-blue);

		&:hover {
			color: var(--color-select-foreground);
		}
	}
}

p {
	&.caption {
		font-size: .875rem;
		font-weight: 500;
		margin-top: calc(var(--unit) * .75);
		opacity: .48;
	}

	strong,
	a {
		font-weight: 600;
	}

	a,
	date {
		opacity: .4;
	}

	a {
		&:hover {
			opacity: 1;
		}
	}

	role {
		color: var(--color-blue);
	}
}

/* Divider */
hr {
	width: 100%;
	height: 2px;
	background: currentColor;
}

/* Image Popup */
.popup {
	position: fixed;
	overflow: hidden;
	display: none;
	z-index: 999;
	max-width: calc(var(--unit) * 8);
	border-radius: .25rem;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .16);

	&.-s {
		max-width: calc(var(--unit) * 4);
	}
}

/* Status */
#status,
#update {
	font-weight: 500;
	line-height: 1.5em;
	position: absolute;
	display: inline-flex;

	@media screen and (max-width: 1439px) {
		z-index: -1;
		width: 100%;
	}
}

#status {
	flex-direction: column;
	align-items: flex-end;
	right: calc(var(--unit) * 2);
	bottom: calc(var(--unit) * 2);
	color: var(--color-white);
	filter: drop-shadow(0 0 2px var(--color-black));

	@media screen and (max-width: 1439px) {
		align-items: center;
		top: calc(var(--unit) * 2);
		right: 0;
		bottom: auto;
		color: currentColor;
		filter: none;

		#time {
			display: none;
		}
	}

	#time,
	#activity {
		text-align: center;
		white-space: pre-wrap;
	}

	#time {
		font-size: .875rem;
		margin-bottom: .25rem;
	}
}

/* Update */
#update {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	bottom: calc(var(--unit) * 2);
	left: calc(var(--unit) * 2);
	color: var(--color-foreground-deep);

	@media screen and (max-width: 1439px) {
		align-items: center;
		top: auto;
		left: 0;
		bottom: calc(var(--unit) * 2);
	}

	span {
		text-align: center;
		white-space: pre-wrap;
	}
}

/* Loader */
.loader {
	position: absolute;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;

	span {
		display: inline-block;
		box-sizing: border-box;
		width: 48px;
		height: 48px;
		border: 5px solid var(--color-white);
		border-bottom-color: transparent;
		border-radius: 50%;
		-webkit-animation: rotation 1s linear infinite;
		animation: rotation 1s linear infinite;

		@media screen and (max-width: 1439px) {
			border-color: currentColor;
			border-bottom-color: transparent;
		}
	}
}

/* Keyframe Animations */
@-webkit-keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}