/* Typography */
h1,
h2,
h3,
li,
p {
	&:lang(ko) {
		font-family: "Noto Sans KR", Arial, sans-serif;
		display: none;
	}
}

h1,
h2,
h3,
li {
	&:has(svg) {
		display: inline-flex;
		align-items: center;
		gap: .25rem;

		svg {
			width: 1rem;
			height: 1rem;
			fill: currentColor;
		}
	}
}

h3,
li,
p {
	font-size: 1rem;
	letter-spacing: -.0125rem;
	line-height: 1.5em;

	a {
		&:hover {
			color: var(--color-select-foreground);
			background: var(--color-select-background);
			border-radius: .125rem;
			box-shadow:
				-.25rem 0 0 0 var(--color-select-background),
				.25rem 0 0 0 var(--color-select-background);
		}

		&:has(svg) {
			display: inline-flex;
			align-items: center;
			gap: .25rem;

			svg {
				width: 1rem;
				height: 1rem;
				fill: currentColor;
			}
		}
	}
}

h1,
h2,
h3,
li {
	font-weight: 640;
}

h1 {
	font-size: 2rem;
	letter-spacing: -.05rem;
	line-height: 1.125em;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: -.0375rem;
	line-height: 1.25em;
}

h3 {
	margin-bottom: calc(var(--unit) * .375);
}

p {

	&.caption,
	strong,
	a {
		font-weight: 640;
	}

	&.caption {
		font-size: .875rem;
		margin-top: calc(var(--unit) * .75);
		opacity: .4;
	}

	a {
		opacity: .4;

		&:hover {
			opacity: 1;
		}
	}
}

dimmed {
	color: var(--color-foreground-dimmed);
}

/* Divider */
hr {
	width: 100%;
	height: 1px;
	background: var(--color-foreground);

	@media (prefers-color-scheme: dark) {
		background: var(--color-foreground-dimmed);
	}
}

/* Buttons */
.btns {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	gap: calc(var(--unit) * .75);

	@media screen and (max-width: 768px) {
		flex-direction: row;
	}

	&.-r {
		flex-direction: row;
		align-items: center;
	}
}

.btn {
	font-size: 1rem;
	font-weight: 640;
	letter-spacing: -.0125rem;
	line-height: 1.5em;
	padding: calc(var(--unit) * 1) calc(var(--unit) * 1.25);
	background: var(--color-foreground-tint);
	border-radius: .125rem;

	&:hover {
		color: var(--color-select-foreground);
		background: var(--color-select-background);
	}
}

/* Image Popup */
.popup {
	position: fixed;
	display: none;
	z-index: 999;
	max-width: calc(var(--unit) * 8);
	border-radius: .125rem;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, .16);

	&.-s {
		max-width: calc(var(--unit) * 4);
	}
}

/* Status */
#status,
#update {
	font-weight: 440;
	letter-spacing: -.0125rem;
	line-height: 1.5em;
	position: fixed;
	display: none;

	@media screen and (min-width: 1920px) {
		display: inline-flex;
	}
}

#status {
	flex-direction: column;
	align-items: flex-end;
	right: calc(var(--unit) * 2);
	bottom: calc(var(--unit) * 2);
	color: var(--color-white);

	#time,
	#activity {
		text-align: center;
		white-space: pre-wrap;
	}

	#time {
		font-size: .875rem;
		margin-bottom: .25rem;
	}
}

/* Update */
#update {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	bottom: calc(var(--unit) * 2);
	left: calc(var(--unit) * 2);
	color: var(--color-white);

	span {
		text-align: center;
		white-space: pre-wrap;
		opacity: .4;
	}
}

/* Loader */
.loader {
	position: fixed;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;

	span {
		display: inline-block;
		box-sizing: border-box;
		width: 48px;
		height: 48px;
		border: 5px solid currentColor;
		border-bottom-color: transparent;
		border-radius: 50%;
		-webkit-animation: rotation 1s linear infinite;
		animation: rotation 1s linear infinite;

		@media screen and (min-width: 1920px) {
			border-color: var(--color-white);
			border-bottom-color: transparent;
		}
	}
}

/* Keyframe Animations */
@-webkit-keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}