/* Home Styles */
#home {
	@media screen and (max-width: 1439px) {
		background: var(--color-pink-deep);
	}

	main {
		background: var(--color-pink);
		box-shadow: 0 0 0 calc(var(--unit) * 4) var(--color-pink);
	}

	/* Intro Styles */
	#intro {
		.cell {

			&:nth-child(1),
			&:nth-child(3) {
				grid-column: span 4;

				@media screen and (max-width: 1023px) {
					grid-column: span 2;
				}
			}

			&:nth-child(2) {
				justify-content: center;

				h3 {
					margin: 0;
				}
			}

			h2 {
				margin: 0;
			}
		}
	}

	/* Highlights Styles */
	#highlight {
		.tag {
			margin-top: calc(var(--unit) * 0.5);
		}
	}

	h2 {
		margin-top: calc(var(--unit) * 4);
	}

	picture {
		grid-column: span 4;

		@media screen and (max-width: 1023px) {
			grid-column: span 2;
		}
	}

	.cell {
		grid-column: span 2;

		h3 {
			margin-bottom: calc(var(--unit) * 0.25);
		}
	}
}

/* Content Styles */
#content,
#mood {
	@media screen and (max-width: 1439px) {
		background: var(--color-background-deep);
	}

	p,
	picture,
	hr {
		margin-bottom: calc(var(--unit) * 3);
	}

	h2 {
		margin-bottom: calc(var(--unit) * 1);
	}

	h3 {
		margin-bottom: calc(var(--unit) * 0.25);
	}

	.caption {
		margin: calc(var(--unit) * 0.5) 0 0;
	}

	.cell,
	.row {

		h1,
		h2,
		h3,
		p,
		picture,
		hr {
			&:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}

	.cell {
		grid-column: 2 / span 4;

		@media screen and (max-width: 1023px) {
			grid-column: 1 / -1;
			margin: 0 calc(var(--unit) * 4);
		}

		@media screen and (max-width: 644px) {
			margin: 0;
		}

		/* Navigation Styles */
		&:nth-child(1) {
			grid-column: span 1;
			margin-bottom: calc(var(--unit) * 3);

			@media screen and (max-width: 1023px) {
				grid-column: 1 / -1;
				margin-right: 0;
				margin-left: 0;
			}

			a {
				display: flex;
				align-items: center;
				gap: 0.25rem;
			}
		}

		/* Title Styles */
		&:nth-child(2) {
			margin-bottom: calc(var(--unit) * 3);
		}

		.stacks {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: calc(var(--unit) * 1.5);
			width: 100%;
			margin-top: calc(var(--unit) * 1.5);

			picture {
				width: 48px;
				margin: 0;
			}
		}
	}
}

/* Mood Styles */
#mood {
	color: var(--color-white);

	/* Font Smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and (max-width: 1439px) {
		background: var(--color-black);
	}

	main {
		background: none;
		box-shadow: none;
	}

	#status {
		display: none;
	}

	small {
		opacity: 0.1;
		font-size: 60%;
		display: block;
		color: rgba(255, 255, 255, 1);
	}

	.drop {
		position: absolute;
		bottom: 100%;
		width: 10px;
		height: 120px;
		pointer-events: none;
		animation: drop 0.5s linear infinite;
	}

	@keyframes drop {
		0% {
			transform: translateY(0vh);
		}

		75% {
			transform: translateY(100vh);
		}

		100% {
			transform: translateY(100vh);
		}
	}

	.stem {
		width: 2px;
		height: 60%;
		margin-left: 7px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
		animation: stem 0.5s linear infinite;
	}

	@keyframes stem {
		0% {
			opacity: 1;
		}

		65% {
			opacity: 1;
		}

		75% {
			opacity: 0;
		}

		100% {
			opacity: 0;
		}
	}

	.splat {
		width: 15px;
		height: 10px;
		border-top: 2px dotted rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		animation: splat 0.5s linear infinite;
		display: none;
	}

	.splat {
		display: block;
	}

	@keyframes splat {
		0% {
			opacity: 1;
			transform: scale(0);
		}

		80% {
			opacity: 1;
			transform: scale(0);
		}

		90% {
			opacity: 0.5;
			transform: scale(1);
		}

		100% {
			opacity: 0;
			transform: scale(1.5);
		}
	}
}