main {

	/* Home Styles */
	&.home {
		background: var(--color-background);

		section {

			/* Intro Styles */
			&#intro {
				.cell {
					&:nth-child(1) {
						grid-column: span 4;

						@media screen and (max-width: 1023px) {
							grid-column: span 2;
						}
					}

					&:nth-child(2) {
						gap: calc(var(--unit) * 0.75);

						@media screen and (max-width: 767px) {
							flex-direction: row;
							flex-wrap: wrap;
						}
					}
				}
			}

			/* Highlights Styles */
			&#highlight {
				.tag {
					margin: calc(var(--unit) * 1) 0 calc(var(--unit) * 3);
				}

				.cell {
					&:nth-last-child(1) {
						.tag {
							margin-bottom: 0;
						}
					}
				}
			}

			h2 {
				margin-top: calc(var(--unit) * 4);

				.material-symbols-sharp {
					font-size: 20px;
				}
			}

			picture {
				grid-column: span 4;

				@media screen and (max-width: 1023px) {
					grid-column: span 2;
				}
			}

			.cell {
				grid-column: span 2;

				h3 {
					margin-bottom: calc(var(--unit) * 0.25);
				}
			}

			.row {
				&:has(h2) {
					padding-bottom: calc(var(--unit) * 1.5);
					border-bottom: 1px solid var(--color-outline);
				}
			}
		}
	}

	/* Content Styles */
	&.content {
		background: var(--color-background);

		section {

			p,
			picture,
			hr {
				margin-bottom: calc(var(--unit) * 3);
			}

			h2 {
				margin-bottom: calc(var(--unit) * 1);
			}

			h3 {
				margin-bottom: calc(var(--unit) * 0.25);
			}

			.caption {
				margin: calc(var(--unit) * 0.5) 0 0;
			}

			.cell,
			.row {

				h1,
				h2,
				h3,
				p,
				picture,
				hr {
					&:nth-last-child(1) {
						margin-bottom: 0;
					}
				}
			}

			.cell {
				grid-column: 2 / span 4;

				@media screen and (max-width: 1023px) {
					grid-column: 1 / -1;
					margin: 0 calc(var(--unit) * 4);
				}

				@media screen and (max-width: 644px) {
					margin: 0;
				}

				/* Navigation Styles */
				&:nth-child(1) {
					grid-column: span 1;
					padding-top: calc(var(--unit) * 0.25);
					margin-bottom: calc(var(--unit) * 3);

					@media screen and (max-width: 1023px) {
						grid-column: 1 / -1;
						margin-right: 0;
						margin-left: 0;
					}

					a {
						display: flex;
						align-items: center;
						gap: 0.25rem;

						.material-symbols-sharp {
							font-size: 16px;
						}
					}
				}

				/* Title Styles */
				&:nth-child(2) {
					gap: calc(var(--unit) * 0.5);
					margin-bottom: calc(var(--unit) * 3);

					p {
						opacity: 0.48;
					}
				}

				.stacks {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					gap: calc(var(--unit) * 1.5);
					width: 100%;
					margin-top: calc(var(--unit) * 1.5);

					picture {
						width: 48px;
						margin: 0;
					}
				}
			}
		}
	}
}