/* Home styles */
#home {
	section {

		/* Intro */
		&:first-child {
			h1 {
				font-size: 3rem;
				letter-spacing: -.075rem;
				grid-column: span 4;

				@media screen and (max-width: 1023px) {
					grid-column: span 2;
				}

				@media screen and (max-width: 767px) {
					font-size: 2.5rem;
					letter-spacing: -.05rem;
					margin-bottom: calc(var(--unit) * 3);
				}
			}

			ul {
				grid-column: span 2;

				li {
					font-weight: 600;
					margin-bottom: calc(var(--unit) * .25);

					&:last-child {
						margin: 0;
					}

					a {
						color: var(--color-red);

						&:hover {
							color: var(--color-select-foreground);
						}
					}
				}
			}
		}

		/* Project */
		&:nth-child(2) {
			.cell {
				&:first-child {
					grid-column: span 4;

					@media screen and (max-width: 1023px) {
						grid-column: span 2;
					}

					@media screen and (max-width: 767px) {
						margin-bottom: calc(var(--unit) * 5);
					}
				}

				h2,
				hr,
				.column {
					margin-bottom: calc(var(--unit) * 4);

					@media screen and (max-width: 1439px) {
						margin-bottom: calc(var(--unit) * 3);
					}

					&:last-child {
						margin: 0;
					}
				}

				p {
					role {
						color: var(--color-red);
					}
				}
			}
		}

		.cell {
			grid-column: span 2;
		}
	}
}

/* Content styles */
#content {
	section {
		.cell {
			grid-column: 2 / span 4;

			@media screen and (max-width: 1023px) {
				grid-column: 1 / -1;
			}

			&:first-child {
				grid-column: span 1;

				@media screen and (max-width: 1023px) {
					grid-column: 1 / -1;
					margin-bottom: calc(var(--unit) * 3);
				}

				h3 {
					margin-bottom: calc(var(--unit) * 1);
				}
			}

			h1,
			p,
			hr,
			picture {
				margin-bottom: calc(var(--unit) * 4);

				@media screen and (max-width: 1439px) {
					margin-bottom: calc(var(--unit) * 3);
				}
			}

			h2 {
				margin-bottom: calc(var(--unit) * 1);
			}

			picture {
				span {
					font-size: calc(var(--unit) * 1.375);
					font-weight: 600;
					line-height: 1.25em;
					position: absolute;
					z-index: 999;
					width: 100%;
					padding: calc(var(--unit) * 1.25);
					color: var(--color-white);
					background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
					opacity: .64;
				}
			}

			:last-child {
				margin-bottom: 0;
			}

			/* Experience */
			&#experience {
				a {
					color: var(--color-red);

					&:hover {
						color: var(--color-select-foreground);
					}
				}

				div:last-child {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: calc(var(--unit) * 1.5);
					width: 100%;

					picture {
						width: 48px;
						margin: 0;
					}
				}
			}
		}
	}
}