/* Variables */
:root {
	/* Color Theme */
	--color-white: rgba(255, 255, 255, 1);
	--color-black: rgba(32, 32, 32, 1);
	--color-foreground: rgba(0, 0, 0, 1);
	--color-background: rgba(255, 255, 255, 1);
	--color-background-deep: rgba(248, 248, 248, 1);
	--color-select-foreground: rgba(255, 255, 255, 1);
	--color-select-background: rgba(0, 0, 0, 1);

	&#home {
		--color-background: rgba(160, 216, 192, 1);
		--color-background-deep: rgba(152, 200, 184, 1);
	}

	/* Dark Mode */
	@media (prefers-color-scheme: dark) {
		--color-white: rgba(255, 255, 255, 1);
		--color-black: rgba(16, 16, 16, 1);
		--color-foreground: rgba(240, 240, 240, 1);
		--color-background: rgba(40, 40, 40, 1);
		--color-background-deep: rgba(32, 32, 32, 1);
		--color-select-foreground: rgba(0, 0, 0, 1);
		--color-select-background: rgba(255, 255, 255, 1);

		&#home {
			--color-foreground: rgba(0, 0, 0, 1);
			--color-select-foreground: rgba(255, 255, 255, 1);
			--color-select-background: rgba(0, 0, 0, 1);
		}
	}

	/* Width */
	--body: 1312px;

	/* Spacer */
	--unit: 16px;

	@media screen and (max-width: 1023px) {
		--unit: 14px;
	}

	@media screen and (max-width: 767px) {
		--unit: 12px;
	}
}

/* Normalize */
header,
nav,
footer,
main,
section,
article,
div,
figure,
figcaption,
picture,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
hr,
svg,
img,
video,
iframe {
	position: relative;
	box-sizing: border-box;
}

svg {
	flex-shrink: 0;
	fill: currentColor;
}

picture,
img,
video,
iframe {
	display: block;
	width: 100%;
}

video,
iframe {
	background: var(--color-black);
}

a {
	cursor: pointer;
	line-height: 1.5em;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/* HTML */
html {
	overflow: hidden;
	font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	word-break: keep-all;
	font-display: fallback;
	-webkit-font-display: fallback;
	height: 100%;
	color: var(--color-foreground);
	background: var(--color-black);

	/* Text Size */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;

	@media screen and (max-width: 1439px) {
		background: var(--color-background-deep);
	}
}

body {
	overflow: auto;
	height: 100%;

	&.loading {

		main,
		#status,
		#update {
			opacity: 0;
		}
	}

	&.loaded {

		main,
		#status,
		#update {
			opacity: 1;
		}

		.loader {
			display: none;
		}
	}
}