/* Variables */
:root {
	/* Color theme */
	--color-white: rgba(255, 255, 255, 1);
	--color-black: rgba(32, 32, 32, 1);
	--color-foreground: rgba(0, 0, 0, 1);
	--color-foreground-dimmed: rgba(125, 125, 125, 1);
	--color-foreground-tint: rgba(0, 0, 0, .1);
	--color-background: rgba(255, 255, 255, 1);
	--color-background-dimmed: rgba(240, 240, 240, 1);
	--color-select-foreground: rgba(0, 0, 0, 1);
	--color-select-background: rgba(20, 210, 214, 1);

	/* Color theme (dark) */
	@media (prefers-color-scheme: dark) {
		--color-white: rgba(255, 255, 255, 1);
		--color-black: rgba(16, 16, 16, 1);
		--color-foreground: rgba(240, 240, 240, 1);
		--color-foreground-dimmed: rgba(125, 125, 125, 1);
		--color-foreground-tint: rgba(240, 240, 240, .15);
		--color-background: rgba(40, 40, 40, 1);
		--color-background-dimmed: rgba(28, 28, 28, 1);
		--color-select-foreground: rgba(0, 0, 0, 1);
		--color-select-background: rgba(20, 210, 214, 1);
	}

	/* Width */
	--body: 1312px;

	/* Spacer */
	--unit: 16px;

	@media screen and (max-width: 1024px) {
		--unit: 14px;
	}

	@media screen and (max-width: 768px) {
		--unit: 12px;
	}
}

/* Normalize */
header,
nav,
footer,
main,
section,
article,
div,
figure,
figcaption,
picture,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
hr,
svg,
img,
video,
iframe {
	position: relative;
	box-sizing: border-box;
}

svg {
	flex-shrink: 0;
	fill: currentColor;
}

picture,
img,
video,
iframe {
	display: block;
	width: 100%;
}

video,
iframe {
	background: var(--color-black);
}

a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* Html */
html {
	overflow: hidden;
	font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	word-break: keep-all;
	font-display: fallback;
	-webkit-font-display: fallback;
	height: 100%;
	color: var(--color-foreground);
	background: var(--color-black);

	/* Text size */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;

	/* Font smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;

	@media screen and (max-width: 1440px) {
		background: var(--color-background-dimmed);
	}
}

body {
	overflow: auto;
	height: 100%;

	&.loading {

		main,
		#status,
		#update {
			opacity: 0;
		}
	}

	&.loaded {

		main,
		#status,
		#update {
			opacity: 1;
		}

		.loader {
			display: none;
		}
	}
}