/* Main styles */
main {
	display: flex;
	flex-direction: column;
	gap: calc(var(--unit) * 4);
	max-width: var(--body);
	padding: calc(var(--unit) * 8);
	margin: 0 auto;
	background: var(--color-background);
	box-shadow: 0 0 0 calc(var(--unit) * 4) var(--color-background);

	@media screen and (max-width: 1440px) {
		padding: calc(var(--unit) * 8) calc(var(--unit) * 4);
	}

	@media screen and (max-width: 1024px) {
		gap: calc(var(--unit) * 2);
		padding: calc(var(--unit) * 6) calc(var(--unit) * 4);
	}

	@media screen and (max-width: 768px) {
		gap: 0;
	}

	@media screen and (max-width: 644px) {
		padding: calc(var(--unit) * 6) calc(var(--unit) * 2);
	}
}

/* Section styles */
section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: calc(var(--unit) * 4);
	padding: calc(var(--unit) * 4) 0;

	@media screen and (max-width: 1440px) {
		gap: calc(var(--unit) * 3);
	}

	@media screen and (max-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	.cell {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&.-f {
			grid-column: 1 / -1 !important;
		}

		&.-g {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: calc(var(--unit) * 2) calc(var(--unit) * 4);

			@media screen and (max-width: 1440px) {
				gap: calc(var(--unit) * 1) calc(var(--unit) * 3);
			}

			@media screen and (max-width: 1024px) {
				grid-template-columns: 100%;
			}

			div {
				margin-bottom: calc(var(--unit) * 2);
			}
		}
	}
}